body {
    font-family: Verdana, serif;
    background: #ffffff;
    margin: 30px;
}
.jpg {
    width: 225px;
    background: #e5ecf3;
    padding: 0;
}
table, th ,td, tr {
    border: 3px solid #000000;
    padding: 10px;
    border-collapse: collapse;
    font-size: 1.05em;
}
header {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background: #f0f0f0;
}