* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, serif;
    background: #ffffff;
    margin: 30px;
}
header {
    border: 2px solid black;
    border-radius: 1em;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
    background: #f0f0f0;
}
div {
    border: 2px solid black;
    padding: 20px;
    border-radius: 1em;
    margin: 10px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
}
input {
    margin-top: 10px;
    width: 22.8em;
    border: black 2px solid;
    border-radius: 0.5em;
    height: 2em;
}
button {
    padding: 5px;
    width: 20em;
    border: black 2px solid;
    border-radius: 0.5em;
    font-weight: bold;
}
table, td,th,tr {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}