body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 600px;
}

#left {
    background-color: Maroon;
    color: white;
    width: 30%;
    padding: 10px;
}

#right {
    background-color: Maroon;
    color: white;
    width: 70%;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#right img, #right ul {
    margin: 10px;
}

#right p {
    width: 100%;
    margin: 10px;
}

footer {
    background-color: DimGray;
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    margin: 5px;
}

button:nth-child(1) {
    background-color: Indigo;
    color: white;
}

button:nth-child(2) {
    background-color: SteelBlue;
    color: white;
}

button:nth-child(3) {
    background-color: Olive;
    color: white;
}

img {
    border: 1px solid white;
    padding: 10px;
}